#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: sans-serif;
    margin: 100px;
}

.column{
    border: dotted 1px black;
    margin: 1px;
    height: 8px;
    width: 8px;
}

h1, #b1{
    display: flex;
    justify-content: center;
}

.btn{
    border: 2px solid black;
    color: white;
    background-color: green;
    text-align: center;
    font-size: 24px;
    border-radius: 12px;
}


